name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

jobs:
  test:
    strategy:
        matrix:
            go_version: [ 1.23, 1.24 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}

      - name: Install tools
        run: make install-tools

      - name: Run generate
        run: make generate

      - uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20
        with:
          fail-if-changed: 'true'

      - name: Run lint
        run: make lint

      - name: Run vulncheck
        run: make vulncheck

      - name: Run tests
        run: make test
